body,
html {
	color: $textColor;
	font-family: $mainFont;
	background-color: $backgroundColor;
}

.weather-icon {
	position: relative;
	width: 300px;
	height: 300px;
}

header,
main,
aside,
footer {
	padding: 1rem;
}
