body,
html {
	color: $textColor;
	font-family: $fontMain;
	background-color: $backgroundColor;
}

.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: $backgroundColor;
}

main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto;

	@media ($bpMamaBear) {
		max-width: 900px;
	}

	@media ($bpPapaBear) {
		max-width: 1800px;
	}
}

header,
main,
aside,
footer {
	padding: $spaceSm $spaceMd;
}

small,
.small {
	text-transform: uppercase;
	font-size: $fontSm;
	letter-spacing: 0.1em;
	padding: $spaceXsm;
}

.section-header {
	text-align: center;
	padding-bottom: unset;

	h1 {
		font-size: 3rem;
		letter-spacing: 0.15rem;
		padding: $spaceSm;
	}
}

h3 {
	font-size: 1.5rem;
	padding: 0.5rem 0;
	text-decoration: underline;
	color: $orange;
}

footer {
	width: 100%;
	text-align: right;
	font-size: 0.8rem;
	letter-spacing: 0.05rem;

	a {
		color: $white;
	}
}
