*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

button,
input[type='submit'] {
	outline: none;
	border: none;
}

button:hover {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
	margin: 0;
}
