// color palette: https://coolors.co/212f45-fdac49-fcd422-fffafa

@import './resets';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$backgroundColor: #212f45;
$textColor: #fffafa;
$fontMain: 'Lato', sans-serif;

$gray: #a3a3a3;
$orange: #fdac49;
$yellow: #fcd422;
$white: #fffafa;

$spaceSm: 0.5rem;
$spaceMd: 1rem;
$spaceLg: 1.5rem;
