@import './resets';
@import './variables';
@import './elements';

.page-header {
	h1 {
		font-size: 1.2rem;
	}
}

.section-header {
	text-align: center;

	h1 {
		font-size: 3rem;
		letter-spacing: 0.15rem;
		padding: $spaceSm;
	}
}

small {
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}

.weather-icon {
	position: relative;
	width: 300px;
	height: 300px;
}

.forcast-card {
	// display: grid;
	border: 1px solid $white;
	border-radius: 3px;
	margin: $spaceMd 0;
	padding: 0;
}
