.forcast-card {
	margin: $spaceMd auto;
	border: 1px solid $orange;
	border-radius: 3px;
	width: 100%;
	max-width: 400px;
	padding-bottom: $spaceMd;
}

.forcast-card > * {
	padding: $spaceSm;
}

.forcast-day {
	display: inline-block;
	padding: $spaceSm;
	background: $orange;
	color: $backgroundColor;
	border-radius: 3px 10rem 10rem 3px;
}

.weather-icon {
	position: relative;
	width: 150px;
	height: 150px;
	margin: auto;
}

.temp {
	display: inline-block;
	position: relative;
}

.degrees {
	position: absolute;
	top: 0.2em;
	font-size: 0.5em;
}

.current-forcast,
.forcast-averages,
.forcast-details {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;

	.details {
		padding: $spaceMd;
	}
}

.current-temp {
	font-size: 3rem;
}
