.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		font-size: 1rem;
		padding: $spaceSm;

		&:hover {
			cursor: pointer;
		}

		@media (min-width: 600px) {
			font-size: 1.5rem;
		}
	}

	.units-form-group {
		display: flex;
	}
}
