.location-form {
	width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	label {
		margin: $spaceSm;
		font-size: 1.2rem;
		display: block;
		text-align: center;
		line-height: 1.25em;
		margin: $spaceMd;
		color: $silver;
	}

	input {
		padding: $spaceXsm $spaceSm;
		border: none;
		border-radius: $borderRadiusSm;
		margin: $spaceXsm;
		width: 60%;

		&:focus {
			outline: none;
		}
	}

	input[type='submit'] {
		background: seagreen;
		color: $white;
	}
}
