.page-header {
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 1.2rem;
	}

	.units-form {
		label {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: $spaceSm;

			input {
				margin: 0 0 0 $spaceSm;
			}
		}
	}
}
