.units-form {
	display: flex;
	padding: 0;
	font-size: $fontSm;

	label {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: $spaceXsm;
		input {
			margin: 0 0 0 $spaceSm;
		}
	}
}
